<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gold Price.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MetalValues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6D399D1CD0BB15002CF328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA938A2C1CD06BF700935029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA938A401CD06BF700935029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA938A4B1CD06BF800935029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
